<p id="notice"><%= notice %></p>

<h4>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h4>

<div class="col-md-4">
  <%= image_tag "/uploads/restaurants/#{@restaurant.image}", height:'150'%>
  <hr/>
</div>

<div class="col-md-6">
  <div class="well">
    <strong>Description:</strong>
    <%= @restaurant.description %>
  </div>
</div>

<div class="col-md-2">
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>
</div>



